## Property price prediction using linear regression

In [1]:
from property_price_prediction.predictor import PropertyPricePredictor

### Estimate price using linear regression

In [2]:
predictor = PropertyPricePredictor('data/similar_sales.xlsx')

2025-04-27 11:04:21,700 - INFO - Starting on suburb1
2025-04-27 11:04:21,707 - INFO - Number of datapoints used for training: 95
2025-04-27 11:04:21,707 - INFO - R² score: 0.7304
2025-04-27 11:04:21,708 - INFO - RMS error: $84,817

------------

In [3]:
predictor.df

,data_model,price,bed,bath,car,land,date,url,desirability,comment,days_since_epoch
0,suburb1,1000000,4,2,8,724,2024-09-20,https://real-estate-website/sold/Property-001,7,Desirability can be used to subjectively scor...,9029
1,suburb1,1250000,5,2,2,697,2024-09-19,https://real-estate-website/sold/Property-002,9,Set to a constant if you don't want to perform...,9028
2,suburb1,1295000,4,2,2,760,2024-09-18,https://real-estate-website/sold/Property-003,9,NaN,9027
3,suburb1,1150000,4,2,2,680,2024-09-05,https://real-estate-website/sold/Property-004,7,NaN,9014
4,suburb1,1130000,4,2,2,792,2024-07-24,https://real-estate-website/sold/Property-005,7,NaN,8971
...,...,...,...,...,...,...,...,...,...,...,...
90,suburb1,950000,3,2,2,731,2022-11-30,https://real-estate-website/sold/Property-091,7,NaN,8369
91,suburb1,895000,4,2,3,797,2022-11-29,https://real-estate-website/sold/Property-092,8,NaN,8368
92,suburb1,1050000,4,2,2,708,2022-11-23,https://real-estate-website/sold/Property-093,8,NaN,8362
93,suburb1,795000,4,2,3,737,2022-11-23,https://real-estate-website/sold/Property-094,6,NaN,8362
94,suburb1,770000,4,2,2,766,2022-11-22,https://real-estate-website/sold/Property-095,6,NaN,8361

In [4]:
predictor.predict(
    {
        'data_model': 'suburb1',
        'bed': 3,
        'bath': 2,
        'car': 2,
        'land': 750,
        'desirability': 8,
        'date': '2025-04-20'    # Enter as 'YYYY-MM-DD'
    }
)

2025-04-27 11:04:21,737 - INFO - Predicted price for the house with parameters {'data_model': 'suburb1', 'bed': 3, 'bath': 2, 'car': 2, 'land': 750, 'desirability': 8, 'date': '2025-04-20'}:
$1,174,627

1174627

### Get the model sensitivities

In [5]:
predictor.get_sensitivities(model_name='suburb1')

2025-04-27 11:04:21,745 - INFO - Sensitivities for suburb1:
2025-04-27 11:04:21,746 - INFO - Impact of ± 1 bedroom: $34,110
2025-04-27 11:04:21,746 - INFO - Impact of ± 1 bathroom: $63,929
2025-04-27 11:04:21,747 - INFO - Impact of ± 1 car bay: $-5,355
2025-04-27 11:04:21,747 - INFO - Impact of ± 100 sqm land: $56,033
2025-04-27 11:04:21,747 - INFO - Impact of ± 1 month: $9,754
2025-04-27 11:04:21,748 - INFO - Impact of ± 1 desirability point: $66,572